@tailwind base;
@tailwind components;
@tailwind utilities;
.cl-footerActionLink {
    color: white;
}
.cl-internal-b3fm6y{
    display: none;
}
.cl-rootBox{
    border-radius: 25px;
    -webkit-box-shadow: 2px 3px 44px -15px rgba(255, 255, 255, 1);
    -moz-box-shadow: 2px 3px 44px -15px rgba(255, 255, 255, 1);
    box-shadow: 2px 3px 44px -15px rgba(255, 255, 255, 1);
}